<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header.html :: head"></head>

<body>
<!-- HEADER -->
<header th:replace="fragments/header.html :: header"></header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav th:replace="fragments/header.html :: navigation"></nav>
<!-- /NAVIGATION -->

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Your cart</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="/">Home</a></li>
                    <li class="active">Cart</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <table id="products" class="table table-hover" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Photo</th>
                    <th class="actions">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="prod : ${product}">
                    <td th:text="${prod.getKey().product.title}"></td>
                    <td th:text="${prod.getKey().product.categoriesAsString}"></td>
                    <td th:text="${prod.getKey().product.brand.title}"></td>
                    <td th:text="${prod.getKey().product.price}"></td>
                    <td>
                        <img th:src="@{/picture/{pictureId}(pictureId=${prod.getKey().product.pictures[0].id})}"
                             th:width="100px" alt="">
                    </td>
                    <!--                        <a th:href="@{product/{id}/edit(id=${prod.id})}" class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip" title="Edit"><i class="fa fa-fw fa-edit"></i></a>-->
                    <!--                        <a th:href="@{product/{id}/delete(id=${prod.id})}" class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-fw fa-trash"></i></a>-->
                    <!--                    </td>-->
                </tr>
                </tbody>
            </table>
            <div sec:authorize="isAuthenticated()">
                <a class="primary-btn cta-btn" href="/checkout">Checkout</a>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a class="primary-btn cta-btn" href="/login">Login to make order</a>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- NEWSLETTER -->
<div th:replace="fragments/footer.html :: newsletter"></div>
<!-- /NEWSLETTER -->

<!-- FOOTER -->
<footer th:replace="fragments/footer.html :: footer"></footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script th:replace="fragments/footer.html :: scripts"></script>

</body>
</html>