
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <name>Electro - HTML Ecommerce Template</name>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/slick.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/slick-theme.css}"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/nouislider.min.css}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/chat.css}"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body class="bg-light">

<!--<div th:replace="admin/fragments/header :: header"></div>-->

<div class="d-flex">
<!--    <div th:replace="admin/fragments/sidebar :: sidebar"></div>-->

    <div class="content p-4">
        <h2 class="mb-4">Category list</h2>

        <div class="card mb-4">

            <div class="card-body">
                <form class="form-group" th:action="@{category/create}">
                    <button type="submit" class="btn btn-primary">Create new</button>
                </form>
                <form class="form-group" th:action="@{/}">
                    <button type="submit" class="btn btn-primary">Back</button>
                </form>

                <table id="products" class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Product Count</th>
                        <th class="actions">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cat : ${categories}">
                        <td th:text="${cat.id}"></td>
                        <td th:text="${cat.name}"></td>
                        <td th:text="${cat.productCount}"></td>
                        <td>
                            <a th:href="@{category/{id}/edit(id=${cat.id})}" class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip" name="Edit"><i class="fa fa-fw fa-edit"></i></a>
                            <a th:href="@{category/{id}/delete(id=${cat.id})}" class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" name="Delete"><i class="fa fa-fw fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<!--<script th:replace="admin/fragments/footer :: scripts"></script>-->
<!--<script th:src="@{/admin/js/datatables.min.js}"></script>-->
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $('#products').DataTable();-->
<!--    });-->
<!--</script>-->

</body>
</html>